{% extends "layout.html" %} {% block title %} Login {% endblock %} {% block
headline %} {{ title }} {% endblock %} {% block content %}
<div class="mb-3" id="msg">{{ message }}</div>

<!-- Vue.js container-->
{% raw %}
<div id="app" class="m-5">
  <mycomp name="hanako" f="false" msg="This is my first message" />
</div>
{% endraw %} {% raw %}
<script type="text/x-template" id="mycomp-template">
  <div>
    <div v-if="flg=='true'" class="alert alert-primary">
      <p class="alert alert-primary h5">
        {{ name }}
      </p>
      <p>{{ msg }}</p>
    </div>
    <div v-else class="alert alert-danger">
      <p class="h6">
          I'm not {{ name }}
      </p>
    </div>
  </div>
</script>
{% endraw %}

<!-- Vue.js script -->
<script>
  Vue.component("mycomp", {
    template: "#mycomp-template",
    props: ["name", "msg", "f"],
    data: function() {
      return { flg: this.f.toLowerCase() };
    }
  });

  new Vue({
    el: "#app",
    data: {
      vue_msg: "This is Vue.js"
    }
  });
</script>
{% endblock %}
