{% extends "layout.html" %} {% block title %} Login {% endblock %} {% block
headline %} {{ title }} {% endblock %} {% block content %}
<div class="mb-3" id="msg">{{ message }}</div>

<!-- Vue.js container-->
{% raw %}
<div id="app" class="m-3">
  <mycomp />
</div>
{% endraw %} {% raw %}
<script type="text/x-template" id="mycomp-template">
  <div>
    <div class="alert alert-info">
      <h5>{{ alert }}</h5>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Mail</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in data">
          <td>{{ item[0] }}</td>
          <td>{{ item[1] }}</td>
          <td>{{ item[2] }}</td>
          <td>{{ item[3] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</script>
{% endraw %}

<!-- Vue.js script -->
<script>
  Vue.component("mycomp", {
    template: "#mycomp-template",
    props: ["name", "msg", "f"],
    data: function() {
      return {
        alert: "This is SQLite3 Database samaple",
        data: [(-1, "wait....", "", "")]
      };
    },
    methods: {
      getdata: function() {
        let self = this;
        $.get("/ajax", function(data) {
          self.data = eval(data);
        });
      }
    },
    created: function() {
      this.getdata();
    }
  });

  new Vue({
    el: "#app",
    data: {
      vue_msg: "This is Vue.js"
    }
  });
</script>
{% endblock %}
